* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style-type: none;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  padding: 3rem;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  place-items: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-photo {
  width: 20.375rem;
  height: 20.375rem;
  border-radius: 1rem;
}
h1 {
  color: #4e5150;
  font-size: 1.5rem;
}
span {
  color: #a9a9a9;
  font-size: 0.875rem;
}
.page-data {
  color: #4e5150;
  display: flex;
  text-align: center;
  font-size: 1.125rem;
  gap: 1.5rem;
}
li {
  display: flex;
  flex-direction: column;
  width: 6.25rem;
  height: 4.1875rem;
  border-radius: 0.75rem;
  background-color: #e5e5e5;
  justify-content: center;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.25rem;
}
section img {
  border-radius: 12px;
}
.livingroom {
  width: 18.6578rem;
}
.room {
  height: 18.6578rem;
  grid-column: 2/4;
}
.bathroom {
  grid-column: 1/3;
  height: 18.6578rem;
}
.lamp {
  width: 18.6578rem;
  grid-column: 3/4;
  grid-row: 2/4;
}
.decor {
  width: 18.6578rem;
}
.plant {
  width: 18.6578rem;
}